
@media  (min-width:780px)
{
  .desktop{display:flex;}
  .movil{display: none;}
  .tablet{display: none;}
}
@media (min-width:426px) and (max-width:780px)
{
  .desktop{display:none;}
  .movil{display: none;}
  .tablet{display: flex;}
}
@media (max-width:425px)
{
  .desktop{display:none;}
  .movil{display: flex;}
  .tablet{display: none;}
}
