/*default*/
html,body
{
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}
*{color:#000; font-family:sans-serif; }
nav{width:100%;background-color: #fff;}
a{text-decoration: none;}

/*maquetado*/
.mac{border:1px solid #000;}
.inner-mac *{ border: 1px solid;}

/*font*/
.bold{font-weight:bold;}

/*responsive content*/
.flex,nav
{
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-j-l{justify-content:flex-start;}
.flex-j-r{justify-content:flex-end;}

/*displays*/
.hidden{display:none;}
.dflex{display: flex;}
.dblock{display:block;}

/*positions*/
.pfixed{position:fixed;}
.pstatic{position:static;}
.psticky
{
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

/*widths*/
.w50px{width: 50px;}
.w20px{width: 20px;}
.w30px{width: 30px;}
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width:30%;}
.w33{width: 33.333%;}
.w25{width: 25%;}
.w50{width: 50%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.h20p{height: 20px;}
.h30p{height: 30px;}
.h40p{height: 40px;}
.h50p{height: 50px;}
.h60p{height: 60px;}
.h70p{height: 70px;}
.h10{height: 10vh;}
.h20{height: 20vh;}
.h30{height: 30vh;}

/*propiedades extra*/
.stretch{height: 100%;}
.inner-w20per *{width:20%;}
.inner-w25per *{width:25%;}
.inner-flex *
{
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.inner-stretch *{ height: 100%;}

/*sombras*/
.md-t-shadow-1{text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.44);}
.md-b-shadow-1{box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.44);}

/*botones */
.btn-fx-1,.inner-btn-fx-1 *{transition: .15s;}
.btn-fx-1:hover,.btn-fx-1:focus,.inner-btn-fx-1 *:hover,.inner-btn-fx-1 *:focus{box-shadow:inset 0px -4px 0px #000;}
.btn-fx-2{border-top:0px solid;}
.btn-fx-2:hover,.btn-fx-2:focus{border-top:6px solid;}
